$black: black;
$highlight: red;

body {
  font-family: monospace;
  text-align: center;
  background-position: top;
  background-size: cover;
  background: url("/resources/images/hot-dogs.jpg");
}

h1 {
  color: $black;
  font-size: 48px;
  font-weight: bold;
}

.selected {
  color: $highlight;
  font-weight: bold;
}

.meal-form {
  border-style: ridge;;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.meal-form input {
  text-align: center;
}

.add-button {
  font-size: 24px;
  font-weight: bold;
  color: $black;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-sm-3 {
  margin: 10px;
  padding-left: 10px;
}

#edit-meals {
  padding-bottom: 20px;
}
